---
import SocialsNav from "../../ui/SocialsNav.astro"
---
<!-- Hero Section with Electric Blue gradient -->

<section id="home" class="max-w-4xl mx-auto text-center py-12 px-4">
  <h1 class="text-5xl mb-6 font-semibold tracking-wide">
      Elliott Schmechel
  </h1>
  <p class="text-lg text-text-muted font-light tracking-wide mb-8 max-w-[27rem] mx-auto">
    Game Developer & Software Engineer interested in Anti-Cheat systems and curating seamless user experiences.
  </p>
  <div class="flex mx-auto justify-center my-8 gap-x-4 text-lg "> 
    <a href="mailto:eschmechel@outlook.com" class="btn btn-primary btn-fill-left py-2 px-4">
      Contact Me
    </a>
    <a href="/ElliottSchmechel-Resume.pdf"  class="btn btn-secondary p-2 px-6 text-lg" target="_blank" rel="noopener">
      Resume
    </a>
  </div>
  <SocialsNav showLabels={false} hidden="email itch-io"/> 
</section>
