---
import Base from '../layouts/Base.astro';

---
<Base>
     <section id="about" class="min-h-screen py-12 px-4">
        <div class="max-w-4xl mx-auto text-center mb-12">
            <h1 class="text-4xl  mb-6 font-display font-semibold tracking-wide">
                About Me
            </h1>
        </div>
    </section>
</Base>