<a target="_blank" rel="noopener noreferrer" href="https://github.com/eschmechel">
        <img src=`https://ghchart.rshah.org/3B82F6/eschmechel` 
        width="720" height="360" 
    loading="lazy"
    alt="GitHub Chart for Elliott Schmechel" />
</a>