---
import SocialsNav from "../ui/SocialsNav.astro"
---
<!-- Hero Section with Electric Blue gradient -->
<div class="max-w-4xl mx-auto text-center py-24 px-4">
  <h1 class="text-5xl font-black mb-6">
    <span class="text-text">
      Elliott Schmechel
    </span>
  </h1>
  <p class="text-lg text-text-muted mb-8 max-w-[27rem] mx-auto">
    Game Developer & Software Engineer interested in Anti-Cheat systems and curating seamless user experiences.
  </p>
  <div class="flex mx-auto justify-center my-8 gap-x-4 text-lg "> 
    <a href="mailto:eschmechel@outlook.com" class="btn btn-primary btn-fill-left py-2 px-4">
      Contact Me
    </a>
    <a href="/resume.pdf" class="btn btn-secondary p-2 px-6 text-lg">
      Resume
    </a>
  </div>
  <SocialsNav showLabels={false} hidden="email itch-io"/> 
</div>
